<article id="<%= dom_id member %>">
  <p>
    <strong>User:</strong>
    <%= member.user.name %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= member.team.name %>
  </p>

  <p>
    <strong>Roles:</strong>
    <%= member.roles %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this member", current_team_member_path(member), role: "button"  %>
  <% end %>
  <%= link_to 'Edit this member', edit_current_team_member_path(member), role: "button", class: "secondary" %>
  <%= link_to 'Change visibility', current_team_content_visibility_path(member), role: "button", class: "secondary" %>
</article>
