<article id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <hr>

  <%= render AdminShowTeamMembersComponent.new(team: team) %>
  <%= render AdminShowMetaInformationComponent.new(record: team) %>
  <%= render AdminActionsComponent.new(record: team, name: "team") %>
</article>
