<article id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <hr>

  <p>
    <strong>Members:</strong>
    <ul>
      <% team.members.each do |member| %>
        <li><%= "#{member.user.name} (#{member.yid}) [#{member.roles.join(', ')}]" %></li>
      <% end %>
    </ul>
  </p>

  <%= render AdminShowMetaInformationComponent.new(record: team) %>
  <%= render AdminActionsComponent.new(record: team, name: "team") %>
</article>
