<article>
  <%= form_with(model: [:current_team, memory]) do |form| %>
    <%= render partial: "shared_partials/form_validation_errors", locals: { record: memory } %>

    <fieldset>
      <h3><legend><%= form_legend %></legend></h3>

      <div>
        <%= form.label :memo %>
        <%= form.text_area :memo, rows: 4, require: true %>
      </div>

      <div>
        <%= form.label :picture_yid %>
        <%=
          form.select :picture_yid, Picture.pluck(:name, :yid), selected: form.object.picture_yid, include_blank: true
        %>
      </div>

      <div>
        <%= form.label :location_yid %>
        <%=
          form.select :location_yid, Location.pluck(:name, :yid), selected: form.object.location_yid, include_blank: true
        %>
      </div>

      <div>
        <%= form.label :weblink_yid %>
        <%=
          form.select :weblink_yid, Weblink.pluck(:name, :yid), selected: form.object.weblink_yid, include_blank: true
        %>
      </div>

      <%# TODO: why is this nested_form not rendered ?! %>
      <div>
        <%= form.fields_for :weblink, include_id: false do |weblink_form| %>
          <fieldset>
            <h3><legend>Create new Weblink</legend></h3>

            <div>
              <%= weblink_form.label :name %>
              <%= weblink_form.text_field :name %>
            </div>

            <div>
              <%= weblink_form.label :url %>
              <%= weblink_form.text_field :url %>
            </div>

            <div>
              <%= weblink_form.label :description %>
              <%= weblink_form.text_area :description %>
            </div>
          </fieldset>
        <% end %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    </fieldset>
  <% end %>
</article>
