<article id="<%= dom_id weblink %>">
  <p>
    <strong>Name:</strong>
    <%= weblink.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= render ExternalLinkComponent.new(url: weblink.url, text: weblink.url) %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= weblink.description %>
  </p>

  <hr>

  <%= render AdminShowTeamComponent.new(team: weblink.team) %>
  <%= render AdminShowMetaInformationComponent.new(record: weblink) %>
  <%= render AdminActionsComponent.new(record: weblink, name: "weblink") %>
</article>
