<article id="<%= dom_id login %>">
  <p>
    <strong>Last login at:</strong>
    <%= login.updated_at.rfc822 %>
  </p>

  <p>
    <strong>Device:</strong>
    <%= render DeviceComponent.new(user_agent: login.user_agent) %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= render DeviceLocationComponent.new(ip_address: login.ip_address) %>
  </p>

  <% if login.device_id == session[:device_id] %>
    <i>Current login session</i>
  <% else %>
    <%= button_to "Destroy this session", login_record_path(login), method: :delete, class: "secondary" %>
  <% end %>
</article>
