<article>
  <%= form_with(model: [:admin, thought]) do |form| %>
    <%= render partial: "shared_partials/form_validation_errors", locals: { record: thought } %>

    <fieldset>
      <h3><legend><%= form_legend %></legend></h3>

      <% if thought.persisted? %>
        <label>
          <strong>Team</strong>
          <%= thought.team.name %>
          <i><%= thought.team.yid %></i>
        </label>
      <% else %>
        <div>
          <%= form.label :team_yid %>
          <%=
            form.select :team_yid, Team.pluck(:name, :yid), selected: form.object.team_yid, include_blank: true, required: true
          %>
        </div>
      <% end %>

      <div>
        <%= form.label :text %>
        <%= form.text_area :text %>
      </div>

      <div>
        <%= form.label :date %>
        <%= form.date_field :date, value: Date.current %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    </fieldset>
  <% end %>
</article>
