<article id="<%= dom_id thought %>">
  <p>
    <strong>Text:</strong>
    <%= thought.text %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= thought.date %>
  </p>

  <hr>

  <%= render AdminShowTeamComponent.new(team: thought.team) %>
  <%= render AdminShowMetaInformationComponent.new(record: thought) %>
  <%= render AdminActionsComponent.new(record: thought, name: "thought") %>
</article>
