<article id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", user, role: "button" %>
    <%= link_to 'Edit this user', edit_user_path(user), role: "button" %>
  <% end %>
</article>
