<!DOCTYPE html>
<html>
  <head>
    <title>Yournaling</title>
  </head>
  <body style="font-family: sans-serif">
    <p>
      <strong><%= @picture.name %></strong>
      <%= @picture.width %> x <%= @picture.height %> |
      <%= number_to_human_size(@picture.megabytes.megabytes) %> |
      <%= @picture.content_type %> |
      <%= @picture.filename %>
    </p>

    <p>
      <%# TODO: any chance to prevent direct linking of image - or this page? %>
      <%= image_tag(@picture.file, style: "width: auto;") %>
    </p>
  </body>
</html>
