<article>
  <%= form_with(model: [:admin, user]) do |form| %>
    <%= render partial: "shared_partials/form_validation_errors", locals: { record: user } %>

    <fieldset>
      <h3><legend><%= form_legend %></legend></h3>

      <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>

      <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>

      <%# TODO: do not allow Admin to set or change user password manually, only to reset it %>
      <div>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </div>

      <div class="inline">
        <%= form.submit %>
      </div>
    </fieldset>
  <% end %>
</article>
