<article id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <hr>

  <p>
    <strong>Teams:</strong>
    <ul>
      <% user.teams.each do |team| %>
        <li><%= "#{team.name} (#{team.yid}) [#{user.memberships.find_by(team: team).roles.join(', ')}]" %></li>
      <% end %>
    </ul>
  </p>

  <%= render AdminShowMetaInformationComponent.new(record: user) %>

  <%= render AdminActionsComponent.new(record: user, name: "user") %>
</article>
