<article>
  <%= form_with(model: [:admin, member]) do |form| %>
    <%= render partial: "shared_partials/form_validation_errors", locals: { record: member } %>

    <fieldset>
      <h3><legend><%= form_legend %></legend></h3>

      <div>
        <%= form.label :user_yid %>
        <%= form.text_field :user_yid %>
      </div>

      <div>
        <%= form.label :team_yid %>
        <%= form.text_field :team_yid %>
      </div>

      <div>
        <%= form.label :roles %>
        <%= form.text_area :roles, rows: 4 %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    </fieldset>
  <% end %>
</article>
