<article id="<%= dom_id member %>">
  <p>
    <strong>User:</strong>
    <%= member.user.name %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= member.team.name %>
  </p>

  <p>
    <strong>Roles:</strong>
    <%= member.roles %>
  </p>

  <%= render AdminActionsComponent.new(record: member, name: "member") %>
</article>
