<article id="<%= dom_id member %>">
  <p>
    <strong>User:</strong>
    <%= member.user.name %>
    <i>(<%= member.user_yid %>)</i>
  </p>

  <p>
    <strong>Roles:</strong>
    <%= member.roles %>
  </p>

  <hr>

  <p>
    <strong>Team:</strong>
    <%= member.team.name %>
    <i>(<%= member.team_yid %>)</i>
  </p>

  <%= render AdminShowMetaInformationComponent.new(record: member) %>

  <%= render AdminActionsComponent.new(record: member, name: "member") %>
</article>
