<article id="<%= dom_id member %>">
  <p>
    <strong>User:</strong>
    <%= link_to(member.user.name, admin_user_url(member.user)) %>
    <i>(<%= member.user_yid %>)</i>
  </p>

  <p>
    <strong>Roles:</strong>
    <%= member.roles %>
  </p>

  <hr>

  <%= render AdminShowTeamComponent.new(team: member.team) %>
  <%= render AdminShowMetaInformationComponent.new(record: member) %>
  <%= render AdminActionsComponent.new(record: member, name: "member") %>
</article>
