<div id="<%= dom_id weblink %>">
  <p>
    <strong>Url:</strong>
    <%= weblink.url %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= weblink.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= weblink.description %>
  </p>

  <p>
    <strong>Preview snippet:</strong>
    <%= weblink.preview_snippet %>
  </p>

</div>
