<article>
  <%= form_with(url: search_path, method: :post) do |form| %>
    <fieldset>
      <h3><legend><%= form_legend %></legend></h3>

      <%= hidden_field_tag :results, results %>

      <div>
        <%= form.label :query %>
        <%= form.text_field :query, value: query %>
      </div>

      <div>
        <%= form.label :klass_name %>
        <%= form.select :klass_name, %w[Location Member Picture Weblink], selected: klass_name, include_blank: true %>
      </div>

      <div>
        <%= form.submit "Search" %>
      </div>
    </fieldset>
  <% end %>
</article>
