<article id="<%= dom_id picture %>">
  <p>
    <strong><%= picture.name %></strong>
    <% if picture.date %>
    (<%= picture.date %>)
    <% end %>
  </p>

  <% if action_name == "show" %>
  <p>
    Original:
    <%= picture.width %> x <%= picture.height %> |
    <%= number_to_human_size(picture.megabytes.megabytes) %> |
    <%= picture.content_type %> |
    <%= picture.filename %>
  </p>
  <% end %>

  <p>
    <% if action_name != "show" %>
    <%# Render our 4:3 thumbnails in 3:2 format %>
    <%= link_to image_tag(picture.thumbnail, style: "width: 160px; height: 106px; object-fit: cover;"), picture_path(picture) %>
    <%# Render our 4:3 previews in 3:2 format %>
    <%= link_to image_tag(picture.preview, style: "width: 400px; height: 266px; object-fit: cover;"), picture_path(picture) %>
    <% elsif %>
    <%# TODO: hide real URL / use expiring token to access image in fullsize %>
    <%# image_tag(picture.file, style: "max-height: 40rem; width: auto;") %>
    <%= link_to image_tag(picture.large, style: "max-height: 30rem; width: auto;"), picture_only_path(picture), target: "_blank" %>
    <% end %>
  </p>

  <hr>

  <p>
    <strong>Team:</strong>
    <%= picture.team.name %>
    <i>(<%= picture.team_yid %>)</i>
  </p>

  <p>
    <strong>created_at:</strong>
    <%= picture.created_at.iso8601 %>
  </p>

  <p>
    <strong>updated_at:</strong>
    <%= picture.updated_at.iso8601 %>
  </p>

  <p>
    <strong>YID:</strong>
    <%= picture.yid %>
  </p>

  <%= render AdminActionsComponent.new(record: picture, name: "picture") %>
</article>
