<article>
  <%= form_with( url: current_team_content_visibility_path, method: :patch) do |form| %>
    <%= render partial: "shared_partials/form_validation_errors", locals: { record: content } %>

    <fieldset>
      <h3><legend><%= form_legend %></legend></h3>

      <div>
        <%= form.label :visibility %>
        <%= form.select :visibility, @visibility_states, selected: content.visibility %>
      </div>

      <div>
        <%= form.submit %>
      </div>
    </fieldset>
  <% end %>
</article>
