<article id="<%= dom_id thought %>">
  <% if action_name == "show" %>
    <p>
      <strong>Text:</strong>
      <%= thought.text %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= thought.date %>
    </p>

    <p>
      <strong>Team:</strong>
      <%= thought.team_yid %>
    </p>
  <% end %>

  <% if action_name != "show" %>
    <%= render ExternalLinkComponent.new(url: thought.url, text: thought.url) %>
  <% end %>
</article>
