<article id="<%= dom_id location %>">
  <p>
    <% if location.name %>
    <strong><%= location.name %></strong> /
    <% end %>

    <%= location.address %>
    <% iso_country = ISO3166::Country.find_country_by_alpha2(location.country) %>
    <%= iso_country.iso_short_name %> <%= iso_country.emoji_flag %>
  </p>

  <% if action_name == "show" %>
  <p>
    <strong>Link:</strong>
    <%= link_to location.link, location.link, target: "_blank" %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= location.lat.to_s %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.long.to_s %>
  </p>

  <%= render partial: "locations/embedded_google_maps", locals: { location: location } %>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Show this location", location, role: "button"  %>
  <% end %>
  <%= link_to 'Edit this location', edit_location_path(location), role: "button", class: "secondary" %>
</article>
