<!DOCTYPE html>
<html>
  <head>
    <title>Yournaling Admin Area</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Using a downloaded version of pico.css for development %>
    <%# stylesheet_link_tag "https://unpkg.com/@picocss/pico@latest/css/pico.min.css", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header class="admin-area">
      <nav>
        <%= link_to "Leave Admin Area", "/" %>
        <%= render AdminNavComponent.new %>
      </nav>

      <%= render partial: "shared_partials/flash_notifications" %>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
