<!DOCTYPE html>
<html>
  <head>
    <title>Yournaling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://unpkg.com/@picocss/pico@latest/css/pico.min.css", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li><%= link_to "Pictures", pictures_path, role: active_path?(pictures_path) ? "button" : nil %></li>
          <li><%= link_to "Locations", locations_path, role: active_path?(locations_path) ? "button" : nil %></li>
          <li><%= link_to "Weblinks", weblinks_path, role: active_path?(weblinks_path) ? "button" : nil %></li>
          <li><%= link_to "Teams", teams_path, role: active_path?(teams_path) ? "button" : nil %></li>
          <li><%= link_to "Users", users_path, role: active_path?(users_path) ? "button" : nil %></li>
          <li><%= link_to "Members", members_path, role: active_path?(members_path) ? "button" : nil %></li>
        </ul>

       <%= render TeamSwitcherComponent.new %>

        <ul>
          <li>
          <% if current_user.persisted? %>
            <% if active_path?(pictures_path) %>
              <%= render partial: "pictures/action_buttons" %>
            <% elsif active_path?(locations_path) %>
              <%= render partial: "locations/action_buttons" %>
            <% elsif active_path?(weblinks_path) %>
              <%= render partial: "weblinks/action_buttons" %>
            <% elsif active_path?(teams_path) %>
              <%= render partial: "teams/action_buttons" %>
            <% elsif active_path?(users_path) %>
              <%= render partial: "users/action_buttons" %>
            <% elsif active_path?(members_path) %>
              <%= render partial: "members/action_buttons" %>
            <% end %>
          <% end %>
          </li>
        </ul>
      </nav>

      <%= render partial: "shared_partials/flash_notifications" %>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
