<!DOCTYPE html>
<html>
  <head>
    <title>Yournaling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://unpkg.com/@picocss/pico@latest/css/pico.min.css", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li><%= link_to "Teams", teams_path, role: active_path?(teams_path) ? "button" : nil %></li>
          <li><%= link_to "Users", users_path, role: active_path?(users_path) ? "button" : nil %></li>
          <li><%= link_to "Members", members_path, role: active_path?(members_path) ? "button" : nil %></li>
        </ul>
      </nav>

      <%= render partial: "shared_partials/flash_notifications" %>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
