<!DOCTYPE html>
<html>
  <head>
    <title>Yournaling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if AppConf.production_env %>
      <%= stylesheet_link_tag "https://unpkg.com/@picocss/pico@latest/css/pico.amber.min.css", "data-turbo-track": "reload" %>
    <% else %>
      <%# Using a downloaded version of pico.css for development %>
      <%= stylesheet_link_tag "pico.amber.css", "data-turbo-track": "reload" %>
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
      <nav>
        <%= render ApplicationNavComponent.new %>
      </nav>

      <%= render partial: "shared_partials/flash_notifications" %>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
