<article id="<%= dom_id current_user_team %>">
  <p>
    <strong>Name:</strong>
    <%= current_user_team.name %>
  </p>

  <p>
    <strong>Roles:</strong>
    <%= current_user_team.members.find_by(user: current_user).roles %>
  </p>

  <% if current_user_team == current_team %>
    <%= button_to "go solo", { controller: :switch_current_teams, action: :destroy, id: current_user_team.urlsafe_id }, method: :delete, class: "secondary", id: current_user_team.urlsafe_id %>
    &nbsp; <i>(unlink currently selected team)</i>
  <% else %>
    <%= button_to "Select this team", switch_current_teams_path({ current_team: { team_yid: current_user_team.yid} }), method: :post, class: "secondary", id: current_user_team.urlsafe_id %>
  <% end %>
</article>
